/* ==> GLOBAL SETTINGS <== */

/* Fonts */

@font-face 
{
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.eot');
    src: url('fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Regular.woff2') format('woff2'),
        url('fonts/Montserrat-Regular.woff') format('woff'),
        url('fonts/Montserrat-Regular.ttf') format('truetype'),
        url('fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Light.eot');
    src: url('fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Light.woff2') format('woff2'),
        url('fonts/Montserrat-Light.woff') format('woff'),
        url('fonts/Montserrat-Light.ttf') format('truetype'),
        url('fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Light.eot');
    src: url('fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Light.woff2') format('woff2'),
        url('fonts/Roboto-Light.woff') format('woff'),
        url('fonts/Roboto-Light.ttf') format('truetype'),
        url('fonts/Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Medium.eot');
    src: url('fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Medium.woff2') format('woff2'),
        url('fonts/Roboto-Medium.woff') format('woff'),
        url('fonts/Roboto-Medium.ttf') format('truetype'),
        url('fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.eot');
    src: url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff'),
        url('fonts/Roboto-Regular.ttf') format('truetype'),
        url('fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ------------ */
/* Global */

html, body 
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    scroll-behavior: smooth;
    letter-spacing: 1px;
}

#pageContent
{
    position: relative;
    display: flex;
    flex-direction: column;
}

a, a:visited, a:active
{
    text-decoration: none;
    color: inherit;
}

/* ------------ */
/* Menu nav */

header
{
    display: flex;
    text-decoration: none;
    justify-content : space-between;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    background-color: rgb(40, 40, 40);
    border-bottom: 1px solid rgba(30, 30, 30, 0.7);
    height: 90px;
    position: fixed;
    top: 0;
    width: 96%;
    z-index: 2;
    overflow: hidden;
}

#headerTitle
{
    margin-top: auto;
    margin-bottom: auto;
    text-transform: uppercase;
    font-size: 1.3em;
}

header nav
{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: space-between;
}

#headerTitle, .fa-bars, .fa-times-circle
{
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
}

header nav ul
{
    text-decoration: none;
    list-style: none;
    display: flex;
    padding: 0;
}

header nav li, #headerTitle
{
    cursor: pointer;
}

#internLinks
{
    justify-content: space-between;
    font-size: 1.05em;
    margin-right: 42px;
}

#internLinks li
{
    margin-right: 28px;
    display: inline-block;
}

#internLinks li:after
{
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width 0.6s ease, background-color 0.6s ease;
    -webkit-transition: width 0.6s ease, background-color 0.6s ease;
}

#internLinks li:hover:after
{
    width: 100%;
    background: white;
}

#externLinks
{
    width: 58px;
    justify-content: space-between;
}

.fa-linkedin, .fa-github-square
{
    font-size: 1.5em;
    color: white;
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
}

.fa-linkedin:hover, .fa-github-square:hover, #headerTitle:hover, .fa-bars:hover, .fa-times-circle:hover
{
    color: rgb(133, 146, 158);
}

.fa-bars, .fa-times-circle
{
    font-size: 2em;
    color: white;
}

#hamburger
{
    display: none;
}

.adminLinksContainers::after
{
    display: none !important;
}

#adminReturnPage, #disconnectLink
{
    font-size: 0.65em;
    font-weight: bolder;
    color: rgb(51, 51, 51);
    background-color: rgb(248, 248, 248);
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 11px;
    padding-right: 11px;
    text-transform: uppercase;
    transition: 0.3s ease;
}

#adminReturnPage:hover, #disconnectLink:hover
{
    color: black;
    background-color: rgb(180, 180, 180);
}

/* ------------ */
/* JS class */

.invisible
{
    display: none;
}

/* ---------------------------------------- */
/* ==> RESPONSIVE SETTINGS <== */

@media screen and (max-width: 680px)
{

/* ------------ */
/* Global */

    .filterBody
    {
        filter: opacity(50%);
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
    }

    body
    {
        font-size: 95%;
    }

/* ------------ */
/* Menu nav */
    
    header
    {
        padding-left: 7%;
        padding-right: 7%;
        width: 86%;
    }

    #headerTitle
    {
        font-size: 1.1em;
    }

    #hamburger
    {
        display: block;
        margin-top: auto;
        margin-bottom: auto;
    }

    #exitMobileMenu
    {
        display: block;
        position: absolute;
        right: 7%;
        top: 14%;
    }

    #menu
    {
        top: -350%;
        opacity: 0.9;
        transition: top 0.3s ease;
        -webkit-transition: top 0.3s ease;
    }

    header nav
    {
        position: absolute;
        background-color: rgb(40, 40, 40);
        left: 0;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        min-width: inherit;
        z-index: 1;
        flex-direction: column;
    }

    #internLinks
    {
        flex-direction: column;
        text-align: center;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        margin-top: 0;
    }

    #internLinks li
    {
        margin-bottom: 14px;
        margin-right: 0;
    }

    #internLinks li:hover
    {
        color: rgb(133, 146, 158);
        transition: color 0.3s ease;
        -webkit-transition: color 0.3s ease;
    }

    .adminLinksContainers
    {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    #externLinks
    {
        justify-content: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    #externLinks a
    {
        margin-left: 10px;
        margin-right: 10px;
    }

    #externLinks
    {
        width: 100%;
    }

    #internLinks li:after
    {
        display: none;
    }

    .fa-github-square, .fa-linkedin
    {
        font-size: 1.85em;
    }
}

@media screen and (min-width: 681px) and (max-width: 1000px)
{

/* ------------ */
/* Global */

    .filterBody
    {
        filter: opacity(50%);
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
    }

/* ------------ */
/* Menu nav */

    header
    {
        padding-left: 5%;
        padding-right: 5%;
        width: 90%;
    }

    #hamburger
    {
        display: block;
        margin-top: auto;
        margin-bottom: auto;
    }

    #exitMobileMenu
    {
        display: block;
        position: absolute;
        right: 7%;
        top: 14%;
    }

    #menu
    {
        top: -350%;
        opacity: 0.9;
        transition: top 0.3s ease;
        -webkit-transition: top 0.3s ease;
    }

    header nav
    {
        position: absolute;
        background-color: rgb(40, 40, 40);
        left: 0;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        min-width: inherit;
        z-index: 1;
        flex-direction: column;
    }

    #internLinks
    {
        flex-direction: column;
        text-align: center;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        margin-top: 0;
    }

    #internLinks li
    {
        margin-bottom: 14px;
        margin-right: 0;
    }

    #internLinks li:hover
    {
        color: rgb(133, 146, 158);
        transition: color 0.3s ease;
        -webkit-transition: color 0.3s ease;
    }

    #externLinks
    {
        justify-content: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    #externLinks a
    {
        margin-left: 10px;
        margin-right: 10px;
    }

    #externLinks
    {
        width: 100%;
    }

    #internLinks li:after
    {
        display: none;
    }

    .fa-github-square, .fa-linkedin
    {
        font-size: 1.85em;
    }

    .adminLinksContainers
    {
        margin-top: 8px;
    }
}
